li {
    -webkit-text-fill-color: aliceblue;
    font-family: serif;
    font-size: 30px;
}

.bottom {
    position: absolute;
    top: 250px;
}

nav ul {
    background-color: whitesmoke;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 202px;
    font-size: 25px;
}

.jumbotron {
    background-image: url("images/Barcelona_header.png");
    background-size: cover;
}

.content {
    background-image: url("images/ocean\ 2.jpg");
    background-size: cover;
    padding-top: 10px;
}